
export PATH=$PATH:/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/slow5tools
export PATH=$PATH:/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/ont-guppy-cpu/bin

RAW_FAST5_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/Aaron/PROMETHION/10074/CORTEX
RAW_SLOW5_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_Models/A_ONT_Whole_Genome/1_raw
BASECALL_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_Models/A_ONT_Whole_Genome/2_basecalled
ROOT_WKD=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_Models/A_ONT_Whole_Genome

BARCODE=(barcode09 barcode10 barcode11 barcode12)
#DATASET=(20200929_1506_2G_PAE62275_de0204be 20200808_1450_1F_PAF13790_4c803d35 20200807_1632_MC-110214_0_add313_506ffc5b)
#DATASET_SUBNAME=(A B C)

DATASET=(20200808_1450_1F_PAF13790_4c803d35)
DATASET_SUBNAME=(B)
BARCODE_SUBNAME=(9 10 11 12)

GENOME_FASTA=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references/mouse/mm10.fa
GUPPY_FILE=dna_r9.4.1_450bps_modbases_5mc_cg_hac.cfg


export METADIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_Models/0_metadata/A_ONT_Whole_Genome
SAMPLE_CONFIG=$METADIR/ADModel_ont_whole_genome_samples.tsv
export BASECALLED_PATHS=($(grep "^[^#;]" $SAMPLE_CONFIG | awk '{print $10}'))
export SAMPLE_NAMES=($(grep "^[^#;]" $SAMPLE_CONFIG | awk '{print $13}'))
DATASET_MODEL_UNIQ=(A_TG A_WT B_TG B_WT C_TG C_WT D_TG D_WT)

